<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:include="header"></head>

<body>
<div class="page-container">
    <div class="page-head">

        <ul class="page-head-elements">
            <li><a href="#" class="page-navigation-toggle"><span class="fa fa-bars"></span></a></li>
        </ul>
    </div>
    <div th:include="menu">
    </div>
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <div class="block-head">
                            <div class="block-title">Consulta de Vendas</div>
                        </div>
                        <div class="block-content">
                            <div class="block-content np">
                                <table cellpadding="0" cellspacing="0" width="100%"
                                       class="table table-bordered table-striped sortable_simple" id="tabelaVendas">
                                    <thead>
                                    <tr>
                                        <th width="15%">NF</th>
                                        <th width="15%">Cliente</th>
                                        <th width="15%">Data da Venda</th>
                                        <th width="15%">Valor Total</th>
                                        <th width="20%">Editar</th>
                                        <th width="20%">Excluir</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbodyVendas">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<div id="modalArea"></div>

<footer th:include="footer"></footer>

<script th:src="@{/frontjs/consultaVendas.js}"></script>

</body>

</html>
