<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<script type="text/javascript" th:src="@{/js/plugins/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/jquery/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/bootstrap/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js}"></script>

<script type="text/javascript" th:src="@{/js/plugins/select2/select2.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/tagsinput/jquery.tagsinput.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/icheck/jquery.icheck.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/jquery/jquery-ui-timepicker-addon.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/datatables/jquery.dataTables.min.js}"></script>

<script type="text/javascript" th:src="@{/js/plugins/daterangepicker/moment.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/daterangepicker/daterangepicker.js}"></script>

<script type="text/javascript" th:src="@{/js/plugins/chained/jquery.chained.min.js}"></script>

<script type="text/javascript" th:src="@{/js/plugins.js}"></script>
<script type="text/javascript" th:src="@{/js/actions.js}"></script>
