<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">


    <div class="page-navigation">

        <div class="page-navigation-info">
            <a href="index-2.html" class="logo">Zion</a>
        </div>


        <ul class="navigation">
            <li><a href="#"><i class="fa fa-users"></i>Clientes</a>
                <ul>
                    <li><a href="/clientefis">Cadastro de Clientes</a></li>
                    <li><a href="/clientefis/consulta">Consulta de Clientes Fisicos</a></li>
                    <li><a href="/clientejur/consulta">Consulta de Clientes Juridicos</a></li>
                </ul>
            </li>

            <li><a href="#"><i class="fa fa-truck"></i>Fornecedores</a>
                <ul>
                    <li><a href="/fornecedores">Cadastro de Fornecedores</a></li>
                    <li><a href="/fornecedores/consulta">Consulta de Fornecedores</a></li>
                </ul>
            </li>

            <li><a href="#"><i class="fa fa-usd"></i>Vendas</a>
                <ul>
                    <li><a href="/vendas">Cadastro de Vendas</a></li>
                    <li><a href="/vendas/consulta">Consulta de Vendas</a></li>
                </ul>
            </li>

            <li><a href="#"><i class="fa fa-shopping-cart"></i>Compras</a>
                <ul>
                    <li><a href="/compras">Cadastro de Compras</a></li>
                    <li><a href="/compras/consulta">Consulta de Compras</a></li>
                </ul>
            </li>

            <li><a href="#"><i class="fa fa-dropbox"></i>Produtos</a>
                <ul>
                    <li><a href="/produtos">Cadastro de Produtos</a></li>
                    <li><a href="/produtos/consulta">Consulta de Produtos</a></li>
                </ul>
            </li>

            <li><a href="#"><i class="fa fa-users"></i>Usuarios e Permissões</a>
                <ul>
                    <li><a href="/usuarios">Cadastro de Usuarios</a></li>
                    <li><a href="/permissoes">Cadastro de Permissoes</a></li>
                    <li><a href="/usuarios/consulta">Consulta de Usuarios</a></li>
                    <li><a href="/permissoes/consulta">Consulta de Permissoes</a></li>
                    <li><a href="/usuariopermissao">Permissoes por Usuario</a></li>
                </ul>
            </li>

            <li><a href="#"><i class="fa fa-gears"></i>Ordens de Produção</a>
                <ul>
                    <li><a href="/ops">Cadastro de Ordens de Produção</a></li>
                    <li><a href="/ops/consulta">Consulta de Ordens de Produção</a></li>
                </ul>
            </li>

        </ul>

    </div>
</html>

